{% extends 'base.html' %}

{% block title %}Play Quiz - {{ quiz_data.quiz_name }}{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <h1 class="text-4xl font-bold mb-8 text-gray-800">{{ quiz_data.quiz_name }}</h1>

  <div id="player-name-form" class="w-full max-w-sm">
    <div class="mb-4">
        <label for="player_name" class="block text-gray-700 font-bold mb-2">Enter your name:</label>
        <input type="text" id="player_name" name="player_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
    </div>
    <div class="flex items-center justify-between">
        <button type="button" onclick="joinQuiz()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Join Quiz
        </button>
    </div>
  </div>

  <div id="waiting-message" class="text-xl font-semibold mt-4" style="display: none;">Waiting for other players to join...</div> 
  <div id="feedback" class="text-5xl font-bold mt-12 text-center"></div>
  <div id="options" class="mt-12"> </div> 


  <script>
    const quizId = "{{ quiz_data.quiz_id }}";
    const socket = io('/quiz');
    let playerId;

    socket.on('quiz_start', (data) => {
      if (data.quiz_id === quizId) {
        document.getElementById('waiting-message').style.display = 'none';; 

        // Display the "Quiz started" message
        const feedbackDiv = document.getElementById('feedback');
        feedbackDiv.textContent = 'Quiz started, get ready for the first question!'; 
      }
    });
    
    socket.on('question', (data) => {
        if (data.quiz_id === quizId) {
            const feedbackDiv = document.getElementById('feedback');
            feedbackDiv.textContent = data.question;
            
            const optionsDiv = document.getElementById('options');
            optionsDiv.innerHTML = '';
            console.log(data)

            data.options.forEach(option => {
              const button = document.createElement('button');
              button.textContent = option;
              button.classList.add(
                  'bg-blue-500', 
                  'hover:bg-blue-700', 
                  'text-white', 
                  'font-bold', 
                  'py-4',  
                  'px-6',  
                  'rounded', 
                  'w-full', 
                  'mb-6',   
                  'text-2xl'
              );
                button.addEventListener('click', () => {
                  document.getElementById('options').style.display = 'none';
                  document.getElementById('feedback').style.display = 'none';
                  document.getElementById('waiting-message').style.display = 'block'; 
                  document.getElementById('waiting-message').textContent = 'Waiting for other players to answer...'; 
                  fetch('/answer', { 
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({ quiz_id: quizId, answer: option, player_id: playerId }) 
                  })
                  .then(response => {
                      // Handle the response from the server (e.g., show feedback)
                  });
                });
                optionsDiv.appendChild(button);
            });
        }
    })

    function joinQuiz() {
      let playerName = document.getElementById('player_name').value;
      document.getElementById('player-name-form').remove();
      document.getElementById('waiting-message').style.display = 'block'; 



      // Send player name to the server
      fetch(`/join/${quizId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: `player_name=${playerName}`
        })
        .then(response => response.json())
        .then(data => {
          if (data.player_id) {
            playerId = data.player_id; 
            document.getElementById('question-container').style.display = 'block';
            document.getElementById('waiting-message').innerHTML = 'Waiting for other players to join...';

          } else {
            // Handle errors, e.g., display an error message
            console.error('Failed to join the quiz');
          }
        });
    }
  </script>
</div>
{% endblock %}

