<!DOCTYPE html>
<html>
<head>
    <title>Start Quiz</title>
</head>
<body>
    <h1>Start a New Quiz</h1>

    <form method="POST" action="{{ url_for('quiz.start_quiz') }}">
        <label for="quiz_name">Quiz Name:</label>
        <input type="text" id="quiz_name" name="quiz_name" required>
        <br>
        <label for="num_questions">Number of Questions:</label>
        <input type="number" id="num_questions" name="num_questions" min="1" required>
        <br>
        <button type="submit">Create Quiz</button>
    </form>
</body>
</html>


